// @import "../../styles.scss";

// .content {
//   overflow-x: hidden;
//   // width: 100%;
//   max-width: 1154px;
//   margin-left: 286px;
//   background-color: $bg-primary;
//   height: 100vh;


//   div.main-content {
//     padding: 0 24px 50px;


//     div.container {
//       margin-top: 6.5rem;
//       color: white;

   
//       h2 {
//         font-size: 28px;
//         margin-bottom: 25px;
//       }
//     }
//   }
// }



.content {
  // overflow-y: auto;
  overflow-x: hidden;
  max-width: 1154px;
  margin-left: 286px;
  background-color: var( --bg-primary-color);
  height: 100vh;  
  max-height: 100vh;  


  .light-theme {
    background-color: var(--white) ;
    color: black ;
  }

  /* Dark Theme */
  .dark-theme {
    background-color: var( --bg-primary-color);
    color: var(--white);
  }


}

.main-content {
  padding: 0 24px 50px;
}

.container {
  margin-top: 6.5rem;
  color: var(--white);
  height: auto;               
  overflow: unset;  
  width: 100%;

  h2 {
    font-size: 28px;
    margin-bottom: 25px;
  }
}

@media (max-width: 1024px) {
  .content {
    margin-left: 0;
  }
}