@import "../../styles.scss";

.content {
  overflow-x: hidden;
  // width: 100%;
  max-width: 1154px;
  margin-left: 286px;
  background-color: $bg-primary;
  height: 100vh;
  // margin-top: 75px;
  // transition: all .2s;

  .main-content {
    h2 {
      margin: 24px 0 24px 24px;
      font-size: 28px;
      color: white;
    }
  }
}
