@import "../../styles.scss";

// div.h {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   background-color: $bg-second;
// }

.logo {
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 286px;
  height: 75px;
  padding: 17px 12px 17px 32px;
  border-bottom: 1px solid $border-primary;
  border-right: 1px solid $border-primary;
  transition: padding .2s, overflow .2s, width .2s;
  cursor: pointer;
color: white;
  .logo-text{
    display: flex;
    align-items: center;
    gap: 25px;
  }

   .logo-btn{
    width: 25px;
    height: 25px;
    background: $bg-primary;
    border-radius: 4px;
    border: none;
    
   }
  
    
}
