// @import "../../styles.scss";

section.row-2 {
  display: grid;
  grid-template: 1fr / auto repeat(4, minmax(164px, 200px));
  gap: 24px;
  width: 100%;
  margin-top: 45px;
  padding-right: 0px;
  .box {
    border: 1px solid var(--border-primary);
  }

  .exchange-calculator {
    min-width: 352px;
    height: 100%;
  }

  .box {
    border-radius: 10px;
    background-color: var(--bg-second-color);
    // box-shadow: var(--c-box-shadow);
    padding: 20px;
  }

  .exchange-calculator {
    .exchange-calculator__title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 20px;

      .dropdown {
        display: flex;
        color: var(--white);
        gap: 7px;
        padding: 10px;
        cursor: pointer;
        position: relative;

        .dropdown__icon-arrow {
          transition: transform 0.3s ease;
        }

        .dropdown__icon-arrow.rotated {
          transform: rotate(180deg);
        }
      }

      .dropdown__options-none {
        display: none;
      }

      .dropdown__options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 100%;
        left: 6px;
        width: 100%;
        background-color: rgb(4, 1, 24);
        border-radius: 4px;
        list-style: none;
        // padding: 10px;

        width: 100%;
        .dropdown__option {
          padding: 5px;
        }
      }
      .dropdown__option:hover {
        background-color: #3a57e8;
      }
    }

    .divider {
      height: 1px;
      width: 100%;
      margin: 5px 0 20px 0;
      background: var(--border-primary);
    }

    .exchange-calculator .amounts {
      width: 100%;
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
      row-gap: 18px;
      font-weight: 500;
    }

    .exchange-calculator .btn-primary {
      margin-top: 20px;
      width: 100%;
      padding: 8.5px 0;
      font-weight: 500;
      font-size: 20px;
    }

    .btn-primary {
      border-radius: 6px;
      background: var(--gradient-primary);
      box-shadow: var(--c-box-shadow-btn);
      // color: var(--c-text-active);
    }
    button {
      background: transparent;
      cursor: pointer;
    }
    button,
    input,
    textarea,
    select {
      outline: none;
      border: 0px;
      font-family: inherit;
    }

    .btn-primary {
      margin-top: 20px;
      width: 100%;
      padding: 8.5px 0;
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 20px;
      border-radius: 6px;
      background: linear-gradient(180deg, #73a8f8 0%, #3a57e8 100%);
      box-shadow: 0px 21px 27px -10px rgba(58, 87, 232, 0.3);
      color: var(--white);
    }
  }

  div.crypto-chart {
    h2 {
      font-size: 15px;
      font-weight: 500;
      color: var(--white);
      margin-bottom: 15px;
      span {
        color: var(--text-color);
      }
    }

    .txt-bottom-container {
      position: relative;
      //  margin-top: 50px;
      padding-top: 10px;
      z-index: 10;
      font-weight: 500;
      margin-top: 30px;
      //  border: 1px solid;

      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      h4:nth-of-type(2),
      h4:nth-of-type(4) {
        font-size: 18px;
      }

      img {
        position: absolute;
        bottom: -20px;
        right: -1px;
        color: var(--text-color);
        opacity: 0.1;
        // width: 100%;
        // border: 1px solid;
      }

      .c-text-sec {
        margin-top: 10px;
        line-height: 30px;
        color: var(--text-color);
        font-size: 20px;
      }
    }
  }
}

.btn-change-currency {
  position: relative;
  // top: -10px;
  left: calc(50% - 16px);
  // bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 20px;
  border: 1px solid #151429 !important;
  background: linear-gradient(180deg, #73a8f8 0%, #3a57e8 100%) !important;
  box-shadow: 0px 21px 27px -10px rgba(58, 87, 232, 0.3) !important;
}

.smart-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  box-shadow: 0 3px 10px 4px #7090b014;

  input {
    background-color: var(--bg-second-color);
    font-size: 20px;
    font-weight: 500;
    color: var(--white);
    width: 100%;

    // input[type="number"]::-webkit-inner-spin-button,
    // input[type="number"]::-webkit-outer-spin-button {
    //   -webkit-appearance: none;
    //   margin: 0;
    // }
  }

  .dropdown {
    display: flex;
    color: var(--white);
    gap: 7px;
    padding: 10px;
    cursor: pointer;
    position: relative;

    .dropdown__icon-arrow {
      transition: transform 0.3s ease;
    }

    .dropdown__icon-arrow.rotated {
      transform: rotate(180deg);
    }
  }

  .dropdown__options-none {
    display: none;
  }

  .dropdown__options {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 6px;
    width: 100%;
    background-color: rgb(4, 1, 24);
    border-radius: 4px;
    list-style: none;
    // padding: 10px;

    width: 100%;
    .dropdown__option {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 5px;
    }
  }
  .dropdown__option:hover {
    background-color: #3a57e8;
  }

  .selected-container {
    display: flex;
    gap: 7px;
  }

  .drdropdown__icon-arrow {
    // display: flex;

    margin-right: 5px;
  }
}

.amounts {
  font-weight: 400;
  color: var(--text-color);
  margin-top: 20px;

  .h4-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;

    h4.green-text {
      color: var(--green-light);

      margin-right: 10px;
    }
  }
}
