<section class="slider-credit-cards box">
  <div class="slider-credit-cards__title">
    <h2>Accounts and Cards</h2>
    <div class="slider-credit-cards__btns">
      <button fdprocessedid="q75n5l">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="7"
          height="12"
          fill="none"
          viewBox="0 0 7 12"
        >
          <path
            fill="#9BAECA"
            fill-rule="evenodd"
            d="m2.414 6 4.293 4.293a1 1 0 1 1-1.414 1.414l-5-5a1 1 0 0 1 0-1.414l5-5a1 1 0 0 1 1.414 1.414z"
            class="svg-color-fill-primary"
            clip-rule="evenodd"
          ></path>
        </svg></button
      ><button fdprocessedid="9ud4fe">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="7"
          height="12"
          fill="none"
          viewBox="0 0 7 12"
        >
          <path
            fill="#9BAECA"
            fill-rule="evenodd"
            d="M4.586 6 .293 10.293a1 1 0 1 0 1.414 1.414l5-5a1 1 0 0 0 0-1.414l-5-5A1 1 0 0 0 .293 1.707z"
            class="svg-color-fill-primary"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <div class="divider"></div>
  <div class="slider-credit-cards__sliders slider-credit-cards__sliders_active">
    <div>
     <div class="cards">
      <div class="card-container">
        <div
          data-index="1"
          class="slick-slide slick-active"
          tabindex="-1"
          aria-hidden="false"
          style="outline: none; width: 250px"
        >
          <div>
            <div tabindex="-1" style="width: 100%; display: inline-block">
              <div
                class="slider-credit-cards__item"
                style="
                  background-image: url('/images/bg-one.jpg');
                "
              >
                <div class="imvg">
                  <img class="imagesize" src="/images/visa-icon.png" alt="logo" style="width: 40px; height: 10px;" />
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="4"
                    height="14"
                    fill="none"
                    viewBox="0 0 4 14"
                  >
                    <path
                      stroke="#999"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.2"
                      d="M1.75 1.75v.008M1.75 7v.008m0 5.242v.008m0-9.758a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5m0 5.25a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5m0 5.25a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5"
                    ></path>
                  </svg>
                </div>
                <h4>Visa</h4>
                <h4>Debit: **** 1572</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div
          data-index="1"
          class="slick-slide slick-active"
          tabindex="-1"
          aria-hidden="false"
          style="outline: none; width: 250px"
        >
          <div>
            <div tabindex="-1" style="width: 100%; display: inline-block">
              <div
                class="slider-credit-cards__item"
                style="
                  background-image: url('/images/bg-one.jpg');
                "
              >
                <div class="imvg">
                  <img class="imagesize" src="/images/visa-icon.png" alt="logo" style="width: 40px; height: 10px;" />
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="4"
                    height="14"
                    fill="none"
                    viewBox="0 0 4 14"
                  >
                    <path
                      stroke="#999"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.2"
                      d="M1.75 1.75v.008M1.75 7v.008m0 5.242v.008m0-9.758a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5m0 5.25a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5m0 5.25a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5"
                    ></path>
                  </svg>
                </div>
                <h4>Visa</h4>
                <h4>Debit: **** 1572</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div
          data-index="1"
          class="slick-slide slick-active"
          tabindex="-1"
          aria-hidden="false"
          style="outline: none; width: 250px"
        >
          <div>
            <div tabindex="-1" style="width: 100%; display: inline-block">
              <div
                class="slider-credit-cards__item"
                style="
                  background-image: url('/images/bg-one.jpg');
                "
              >
                <div class="imvg">
                  <img class="imagesize" src="/images/visa-icon.png" alt="logo" style="width: 40px; height: 10px;" />
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="4"
                    height="14"
                    fill="none"
                    viewBox="0 0 4 14"
                  >
                    <path
                      stroke="#999"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.2"
                      d="M1.75 1.75v.008M1.75 7v.008m0 5.242v.008m0-9.758a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5m0 5.25a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5m0 5.25a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5"
                    ></path>
                  </svg>
                </div>
                <h4>Visa</h4>
                <h4>Debit: **** 1572</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    
     </div>
      <div class="slider-credit-cards__lightout-gradient-left"></div>
      <div class="slider-credit-cards__lightout-gradient-right"></div>
    </div>
  </div>
  <button class="btn-dashed" fdprocessedid="b2ytc">+ Add Payment Method</button>
</section>
