/* You can add global styles to this file, and also import other style files */
// main.main {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// src/styles.scss

/* Reset styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Global Variables */
$bg-primary: #0d0d1f;
$bg-second: #151429;
$bg-third: #0d0d1f;

$gradient-primary: linear-gradient(180deg, #73a8f8 0%, #3a57e8 100%);
$primary-color: #3498db;

/* Global styles */
body {
  background-color: $bg-primary;
}
